<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="sidebar">

    <div class="sidebar">

        <h2>BilAdmin</h2>

        <a th:href="@{/}">Dashboard</a>

        <!-- KUNDER -->
        <div class="dropdown">

            <a th:href="@{/kunder}">
                Kunder
            </a>

            <div class="dropdown-content">
                <a th:href="@{/kunder/opret}">
                    Opret kunde
                </a>
            </div>

        </div>

        <!-- AFTALER -->
        <div class="dropdown">

            <a th:href="@{/aftaler}">
                Aftaler
            </a>

            <div class="dropdown-content">
                <a th:href="@{/aftaler/opret}">
                    Opret aftale
                </a>
            </div>

        </div>

        <!-- SKADER -->
        <div class="dropdown">

            <a th:href="@{/skader}">
                Skader
            </a>

            <div class="dropdown-content">
                <a th:href="@{/skader/opret}">
                    Opret skade
                </a>
            </div>

        </div>

        <a th:href="@{/okonomi}">
            Økonomi
        </a>

    </div>

</div>

</body>
</html>