<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">

</head>

<body>

<div th:replace="~{fragments/sidebar::sidebar}">
</div>

<div class="content">

    <div class="topbar">

        <h1>Aftaler</h1>

        <a th:href="@{/aftaler/opret}">
            <button>Opret</button>
        </a>

    </div>

    <h1>Opret aftale</h1>

    <form th:action="@{/aftaler/gem}"
          th:object="${agreement}"
          method="post">

        <label>Start dato</label>
        <input type="date" th:field="*{startDate}">

        <label>Slut dato</label>
        <input type="date" th:field="*{endDate}">

        <label>Vælg kunde</label>
        <select th:field="*{customer.id}">
            <option th:each="c : ${customers}"
                    th:value="${c.id}"
                    th:text="${c.name}">
            </option>
        </select>

        <label>Vælg bil</label>
        <select th:field="*{car.id}">
            <option th:each="car : ${cars}"
                    th:value="${car.id}"
                    th:text="${car.brand + ' ' + car.model}">
            </option>
        </select>

        <p>
            Pris:
            <span th:text="${calculatedPrice}"></span>
        </p>

        <button>Gem</button>

    </form>
</div>

</body>

</html>