<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet"
          th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="~{fragments/sidebar::sidebar}">
</div>

<div class="content">

    <h1>Biler</h1>

    <input
            type="text"
            placeholder="Søg biler...">

    <table>

        <tr th:each="car : ${cars}">

            <td th:text="${car.vin}">
            </td>

            <td th:text="${car.brand}">
            </td>

            <td th:text="${car.model}">
            </td>

            <td th:text="${car.status}">
            </td>

        </tr>

    </table>

    <div class="carousel">

        <button class="left">←</button>

        <img src="/img/car1.jpg" class="car-img">
        <img src="/img/car2.jpg" class="car-img">
        <img src="/img/car3.jpg" class="car-img">

        <button class="right">→</button>

    </div>

</div>

</body>

</html>