<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<div th:replace="~{fragments/sidebar::sidebar}">
</div>

<div class="content">

    <h1>Opret kunde</h1>

    <form
            th:action="@{/kunder/gem}"
            th:object="${customer}"
            method="post">

        <input
                th:field="*{name}"
                placeholder="Navn">

        <input
                th:field="*{email}"
                placeholder="Email">

        <input
                th:field="*{phone}"
                placeholder="Telefon">

        <button>

            Gem

        </button>

    </form>

</div>

</body>

</html>