<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet"
          th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="~{fragments/sidebar::sidebar}">
</div>

<div class="content">

    <h1>Skader</h1>

    <a th:href="@{/skader/opret}">
        <button>
            Opret skade
        </button>
    </a>

    <table>
        <tr>
            <th>Dato</th>
            <th>Beskrivelse</th>
            <th>Pris</th>
        </tr>

        <tr th:each="damage : ${damageReports}">

            <td th:text="${damage.reportDate}"></td>

            <td th:text="${damage.description}"></td>

            <td th:text="${damage.totalPrice}"></td>

        </tr>

    </table>

</div>

</body>

</html>